<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Nonja</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit nostrum laborum odio necessitatibus nobis nemo maiores rerum voluptate harum dolor.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corporis est facilis sunt, provident commodi aperiam perferendis possimus illo distinctio?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, velit deleniti doloribus doloremque sed assumenda temporibus exercitationem nihil illum architecto.</p>
    </div>
</body>
</html>