<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit nostrum laborum odio necessitatibus nobis nemo maiores rerum voluptate harum dolor.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corporis est facilis sunt, provident commodi aperiam perferendis possimus illo distinctio?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, velit deleniti doloribus doloremque sed assumenda temporibus exercitationem nihil illum architecto.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>